/* About Rian */
html{
    background-color: #474e5d;
}
h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px
}


#heading {
    text-align: center;
    background: sienna; /*sienna;*/
}

#headshot {
    width: 40%;
    height: 40%;
}

/* top bar*/
.topbar {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow: auto;
    background-color: #333;
    white-space: nowrap;
}

.topbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.topbar a:hover {
    border-bottom: 3px solid green;
    color: black;
}
  
.topbar a.active {
    background-color: red;
    color: white;
}
/*End for tab bar*/

/*Side bar*/
.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width */
    position: fixed;
    /* Fixed place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: black;
    /* Disable horizontal scroll */
    overflow-x: hidden;
    /* Place content 60px from the top */
    padding-top: 60px;
    /* Transition effect to slide
        in the sidebar */
    transition: 0.5s;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* Mouse over the navigation
links, to change their color */
.sidebar a:hover {
    color: red;
}
/* Position and style the close
button at top right corner */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #474e5d;
    color: black;
    padding: 10px 15px;
    border: none;
}
.openbtn:hover {
    background-color: #3f444d;
}
/* Style page content - pushes the
page content to the right when the
sidebar is opened */
#main {
    /* If you want a transition effect */
    transition: margin-left 0.5s;
    padding: 20px;
}
/*Side bar*/

/*Content grid*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
}
.grid-container > div {
    text-align: center;
    padding: 5px 0;
    font-size: 19px;
  }

.rian {

}

#info {
    text-align: center;
    list-style-position: inside;
}

#photo{
    text-align: center;
    border: 5px green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

/*Bottom*/
div.bottom {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 0;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #7e8688e5;
}
/*Text over pictures*/
div.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Mouse hover ov img*/
.rian:hover .overlay {
    opacity: 1;
}

/*Round the pictures*/
.bottom{
    float: right 20px;
}

.bottom img{
    width: 100px;
}
.circular--square {
    border-radius: 50%;
}

/* Feedback form*/
.form {
    font-family: Roboto;
    border-radius: 5px;
    padding: 1px 30px;
    color: white;
}

.boxn{
    width:1700px;
}

.boxe{
    width:1450px;
}
/*End of bottom*/

/*colums all together
#wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto; 
    grid-template-rows: 33% 33% 33%;
    text-align: center;
}*/

/*colum 1*/
/*#list {
    float:left;
    display: flex;
    align-items: left;
    justify-content: center;
}*/

/*colum 2*/
/*#info {
    float:left;
    width:180px;
    margin-left:20px;
}*/

/*colum 3*/
/*
#headshot {
    float:right;
    width:180px;
    position: fixed
}*/



/*
#column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    flex: 50%;
    text-align: center;
}

#row {
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    width: 25%;
}

.right {
    width: 25%;
    
}
.column {
    float: left;
}

.middle {
    width: 50%;
}

*/
.logo {
    width: 4px;
    height: 20px;
}

/*
1. Create 3 colums
2. Make the board number elements clickable
3. Resize headshot picture and place in the 3rd column
4. Make board and headshot stay on screen wven when scrolling

Do a 3x3 grid make it fixed.
*/


/* Responsive layout - when the screen is less than 600px wide, 
make the two columns stack on top of each other instead of next to 
each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    #topics {
    }
  }
